@import '/styles/mixins';
@import '/styles/util';

.dropdown {
	position: relative;
	display: inline-block;
	font-size: 2rem;
	background-color: var(--color-white);

	&__btn {
		border: 0.1rem solid black;
		width: 100%;
		font-size: inherit;
		padding: 1rem;
		background-color: inherit;
		color: inherit;
		cursor: pointer;

		&:hover,
		&:active {
			background-color: grey;
		}
	}

	&__container {
		display: none;
		position: absolute;
		height: 30vh;
		width: 100%;
		overflow: auto;
		border: 0.1rem solid black;
		background-color: inherit;
	}

	&__content {
		display: grid;
		background-color: inherit;
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: space-around;
		background-color: inherit;

		&:hover,
		&:active {
			background-color: grey;
		}
	}
}

.visible {
	display: grid !important;
}
