@import '/styles/responsive';

.dropdown {
	position: relative;
	display: inline-block;
	font-size: 2rem;
	background-color: var(--color-white);

	&__btn {
		border: 0.1rem solid black;
		width: 100%;
		height: 4.6rem;
		font-size: inherit;
		padding: 1rem;
		background-color: inherit;
		color: inherit;
		cursor: pointer;

		@include respond($bp-medium) {
		}

		&:hover,
		&:active,
		&:hover > *,
		&:active > * {
			background-color: grey;
		}
	}

	&__input {
		border: none;
		outline: none;
		font-size: inherit;
		text-transform: capitalize;
		text-align: center;
		padding-right: 2rem;

		&:hover,
		&:active {
			border: none;
			outline: none;
		}
	}

	&__container {
		display: none;
		position: absolute;
		height: calc(var(--vh) * 31);
		width: 100%;
		overflow: auto;
		border: 0.1rem solid black;
		background-color: inherit;
		z-index: 1000;
	}

	&__content {
		display: grid;
		background-color: inherit;
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: space-around;
		background-color: inherit;
		text-transform: capitalize;

		&:hover,
		&:active {
			background-color: grey;
		}
	}
}

.visible {
	display: grid !important;
}
