.picture {
	display: flex;
	align-items: center;
	justify-content: center;

	height: var(--img-size-big);
	width: var(--img-size-big);

	img {
		display: inline-block;
		width: 100%;
		height: auto;
		max-height: 30vh;
	}
}
