.container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;

	&-button {
		align-self: flex-end;
		margin: 0 auto;
	}
}

.button-space {
	width: var(--button-width);
	height: var(--button-height);
}
