@import '/styles/responsive';

.button {
	background: none;
	color: inherit;
	border: solid var(--border-size-info);
	border-radius: 1rem;
	padding: 0.25rem 0.5rem;
	font: inherit;
	font-weight: bold;
	text-transform: capitalize;
	cursor: pointer;
	outline: inherit;
	width: var(--button-width);
	height: var(--button-height);

	@include respond($bp-small-3) {
		font-size: 1.25rem;
	}

	@include respond($bp-small-5) {
		font-size: 1.15rem;
	}

	&:hover {
		background-color: var(--button-color-hover);
	}

	&:active,
	&:focus {
		background-color: var(--button-color-click);
	}
}
