@import '/styles/responsive';

.info {
	display: grid;
	grid-template-rows: 10% 90%;
	border: var(--border-size-info) solid var(--color-primary);
	border-radius: 1rem;
	width: 100%;
	height: 100%;
	font-size: 1.5rem;
	text-transform: capitalize;

	@include respond($bp-medium) {
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: center;

		border-bottom: var(--border-size-info) solid var(--color-primary);
		width: 100%;
		height: 100%;
		font-size: 2rem;
		font-weight: bold;

		&-text {
			color: inherit;
		}
	}

	&__body {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(5, 1fr);

		@include respond($bp-medium) {
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: min-content min-content auto;
		}

		& > * {
			display: grid;
			grid-template-rows: 1fr 2fr;
			border-bottom: var(--border-size-info) solid var(--color-primary);

			@include respond($bp-medium) {
				grid-template-rows: 1fr 2fr;
			}
		}

		&-name {
			border-right: var(--border-size-info) solid var(--color-primary);

			@include respond($bp-medium) {
				grid-column: 1;
				grid-row: 1;
			}
		}

		&-dex {
			@include respond($bp-medium) {
				grid-column: 2;
				grid-row: 1;
				border-right: var(--border-size-info) solid var(--color-primary);
			}
		}

		&-type {
			grid-column: 1 / -1;
			border-right: none;

			@include respond($bp-medium) {
				grid-column: 3 / -1;
				grid-row: 1;
			}
		}

		&-abilities {
			grid-column: 1 / -1;

			@include respond($bp-medium) {
				grid-column: 3 / -1;
				grid-row: 2;
			}
		}

		&-height {
			border-right: var(--border-size-info) solid var(--color-primary);
		}

		&-weight {
			@include respond($bp-medium) {
				border-right: var(--border-size-info) solid var(--color-primary);
			}
		}

		&-identity {
			display: grid;
			grid-column: 1 / -1;
			grid-template-columns: 1fr 1fr 1fr;
			border-bottom: none;

			& > * {
				display: grid;
				grid-row: 1 / -1;
				border-right: var(--border-size-info) solid var(--color-primary);

				@include respond($bp-medium) {
					border-right: var(--border-size-info) solid var(--color-primary);
				}
			}

			&-last {
				border-right: none;
			}
		}

		&-top {
			align-self: center;
			justify-self: center;

			font-weight: bold;
		}

		&-bot {
			background-color: var(--table-color-entry);
			border-radius: 1rem;
			margin: 0.3rem 0.3rem;
			display: flex;
			align-items: center;
			justify-content: space-around;
			font-size: 1.75rem;

			@include respond($bp-large) {
				font-size: 1.55rem;
			}

			@include respond($bp-medium) {
				font-size: 1.75rem;
			}

			&-checkbox {
				background-color: var(--color-white);
				margin-bottom: 1.5rem;

				@include respond($bp-medium) {
					margin-bottom: 0;
				}
			}

			&-types {
				width: 9rem;
			}

			&-abilities {
				display: flex;
				flex-direction: column;

				&-hidden {
					font-size: 1.1rem;
					line-height: 0.75rem;
					font-style: italic;
					align-self: center;
				}
			}

			// hw for height and weight
			&-hw {
				text-transform: lowercase;
			}
		}
	}
}
