@import '/styles/responsive';

.evolution {
	height: var(--img-medium-size);
	width: var(--img-medium-size);

	&--arrow {
		font-size: 5rem;
		font-weight: 500;
		margin: 0 1.5rem;

		@include respond($bp-medium) {
			margin: 0 0.5rem;
		}
	}

	img {
		display: inline-block;
		width: 100%;
		height: 100%;
	}
}
