@import '/styles/responsive';

.header {
	display: grid;
	grid-template-rows: 1fr min-content;

	&-container {
		width: 100%;
		height: 100%;
		overflow: hidden;
		display: flex;
	}

	&-logo {
		display: block;
		height: auto;
		width: 45rem;
		margin: 1rem auto;

		@include respond($bp-small-4) {
			width: 40rem;
		}

		@include respond($bp-small-5) {
			width: 35rem;
		}
	}
}
