.inline {
	display: grid;
	grid-template-columns: 1fr 1fr;

	width: 100%;
	height: 100%;
	cursor: pointer;
}

.img {
	display: inline-block;
	width: var(--img-small-size);
	height: var(--img-small-size);
	align-self: center;
}

.arrow {
	display: block;
	align-self: center;
	justify-self: start;
	width: var(--img-arrow);

	&-flipped {
		display: block;
		align-self: center;
		justify-self: end;
		width: var(--img-arrow);
		transform: scaleX(-1);
	}
}
