.advanced-display {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	&-content {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		border: var(--border-size-info) solid var(--color-primary);
		border-radius: 1rem;
		width: 100%;
		height: 75%;
	}
}
