// RESPONSIVE BREAKPOINTS
$bp-largest: 1200px;
$bp-large: 1000px;
$bp-medium: 900px;
$bp-small: 750px;
$bp-smaller: 650px;

// media query mixin
@mixin respond($breakpoint) {
	@media only screen and (max-width: ($breakpoint/16px * 1em)) {
		@content;
	}
}
