@import '/styles/responsive';

.message {
	font-size: 2rem;
	text-align: center;
	margin: auto 5rem;

	@include respond($bp-medium) {
		margin: auto 2.5rem;
	}

	@include respond($bp-small-2) {
		font-size: 1.75rem;
	}

	@include respond($bp-small-3) {
		font-size: 1.65rem;
	}

	@include respond($bp-small-4) {
		font-size: 1.5rem;
	}
}
